DZMM_DATABASE_URL='postgresql+psycopg://dzmmbot@/dzmm?host=/var/run/postgresql'
DZMM_CORE_URL='http://127.0.0.1:18120'
DZMM_CORE_TOKEN='GENERATE_CORE_TOKEN'
DZMM_ADMIN_TOKEN='GENERATE_ADMIN_TOKEN'
DZMM_WORKER_MODE='live'
DZMM_BROWSER_PROFILE='/var/lib/dzmm/profile'
PLAYWRIGHT_BROWSERS_PATH='/var/lib/dzmm/browsers'
DZMM_BROWSER_CHANNEL='chromium'
DZMM_LOGIN_URL='https://www.dzmm.io/sign-in'
DZMM_CHAT_URL='https://www.dzmm.io/chat?c=REPLACE_WITH_GROUP_ID'
DZMM_BOT_API_TOKEN=''
DZMM_BOT_ID=''
DZMM_ME_PATH=''
DZMM_ME_ID_FIELD='id'
